<div class="wrapper">
  <!--Шапка сайта с меню-->
  <header class="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4">
      <h1 class="title mr-md-auto">RSystem</h1>
      <nav class="nav">
        <button class="login" mat-raised-button color="primary" (click)="Login()">Войти</button>
        <button mat-raised-button color="primary" (click)="Register()">Регистрация</button>
      </nav>
    </div>
  </header>

  <main id="main">

    <div id="info_epigraph">
      <div>
        <h3 class="epigraph-text">
          Автоматизация рекрутинга
        </h3>
        <p class="epigraph-subtext">
          Создайте взаимосвязанный процесс подбора персонала на основе автоматизации.
          Заполните пробелы в процессе отслеживания кандидатов и уменьшите время найма.
      </div>
      <div class="col-md-5">
        <img class="img_1" src="../../assets/img-2.png" width="100%" alt="#">
      </div>
    </div>

    <div class="container">

      <hr class="featurette-divider">

      <div class="row featurette" id="info_1">
        <div class="col-md-7">
          <h2 class="featurette-heading">Положите конец бесконечным электронным таблицам и дублированию работы</h2>
          <p class="lead-info">
            Рекрутинг может занять много времени, особенно когда рекрутерам приходится работать в нескольких разных системах только для выполнения простых повседневных задач. 
          </p>
          <p class="lead-info">
            RSystem связывает все этапы основного процесса найма, помогая вам собрать воедино все, от первоначального взаимодействия с кандидатом до предварительного собеседования.


            Результат? Вы экономите кучу времени, улучшаете кандидатский опыт и нанимаете быстрее!
          </p>
        </div>
        <div class="col-md-5">
          <img class="img_1" src="../../assets/img-2.png" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info_2">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Расширьте возможности кандидатов с помощью автоматизированных рабочих процессов</h2>
          <p class="lead-info">
            Предварительно настройте коммуникации с кандидатами, рабочие процессы и многое другое, чтобы автоматически продвигать кандидатов на каждом этапе процесса.
          </p>

        </div>
        <div class="col-md-5">
          <img class="img_2" src="../../assets/img-1.png" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">


    </div>
    <footer class="center">
      <span class="copyright">
        © 2022
      </span>
    </footer>
  </main>
</div>

