<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#/hr-userform">Новые резюме</a>
      <a mat-list-item href="#/hr-userform-see">Просмотренные резюме</a>
      <a mat-list-item href="#/hr-userform-approve">Одобренные резюме</a>
      <a mat-list-item href="#/hr-userform-reject">Отклоненные резюме</a>
      <a mat-list-item href="#/admin-proglang">Языки программирования</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-card-header>
        <mat-card-title>Профиль HR</mat-card-title>
      </mat-card-header>
      <span class="spacer"></span>
      Здравствуйте, {{userName}}
    <button mat-raised-button color="basic" (click)="Profile()">Профиль</button>
    <button mat-raised-button color="basic" (click)="Logout()">Выйти</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
